---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>SIMPOSIO</h1>
				Libri, appunti e dispense, corsi ed esercizi, di ogni materia.
			<p>
				Qui sotto potrai iniziare subito ad esaminare tutto il materiale disponibile, oppure effettuare una ricerca mirata attraverso l'apposita barra di ricerca.
			</p>
		</main>
		<Footer />
	</body>
</html>
